.leaders {
    display: flex;
    padding: 1.5rem;
    margin-right: 4rem;
    margin-left: 4rem;
    flex-direction: column;
    background-color:whitesmoke;
    border-radius: 0px 0px 1rem 1rem;
    margin-bottom: 1rem;
    /* width: 75%; */
}

.fluidContainerLeaders{
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    background-color:whitesmoke;
    border-radius: 0px 0px 1rem 1rem;
    margin-bottom: 1rem;
}

.elder-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.elder{
    padding: 1rem;
    display: flex;
    gap: 1rem;
    /* margin: 4rem 0rem 0rem 0rem; */
    margin-bottom: 4rem;
    flex:1
}

.elderz{
    display: flex;
    padding: 1rem;
    gap: 1rem;
    margin-bottom: 4rem;
    
}

.pastor{
    padding: 1rem;
    display: flex;
    gap: 1rem;
    /* margin: 4rem 0rem 0rem 0rem; */
    margin-bottom: 4rem;
    /* flex: 1 1; */
}