.hotdog {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin-right: 4rem;
    margin-left: 4rem;
    flex-direction: column;
    /* align-items: center; */
    
    background-color: whitesmoke;
    border-radius: 0px 0px 1rem 1rem;
    margin-bottom: 1rem;
}

.fluidContainerCar{
    background-color: whitesmoke;
    /* display: flex; */
    /* flex-direction: column; */
    padding: 0.5rem;
    border-radius: 0px 0px 1rem 1rem;
    margin-bottom: 1rem;
}

.triumph {
    text-align: center;
    margin-top: 1rem;
}

a {
    text-decoration: none;
    color:black
}

.header1 {
    height: 5rem;
    background-color: lightblue;
    border-radius: 1rem 1rem 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.triumphLogo{
    width: auto;
    height: 280px;
}

.navbar {
    padding-left: 2rem;
    margin-top: 0.5rem;
    background-color: red;
    border-bottom: solid #999;
    border-top: solid #999;
}
/* h2 {
    text-align: center;
} */

/* .announcement {
    background-color: whitesmoke;
    display: flex;
    height: 15rem;
    border-radius: 0rem 0rem 1rem 1rem;
    margin-top: 1rem;
    
} */

.announcement{
    margin-top: 1rem;
    
}

.slide-desc{
    background-color: lightgray;
    /* border-radius: 10px; */
    padding: 1em;

    max-width: 100%;
    height: auto;
    object-fit: contain;
    /* width: 100%; */
    width: 30%;
    border-radius: 10px;

    max-height: 200px;
}

.announcementImage {
    width: 100%;
    height: 100%;
    padding: 1rem;
    flex: 2;
    border-radius: 2rem;

}

.announcementPhoto{
background-color: whitesmoke;
border-radius: 1rem;
}




/* =================== CAROUSEL ======================= */

.carousel-container{
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* background-color: rgba(30, 30, 86, 0.85); */
    /* padding: 20px; */
    padding-bottom: 2rem;

}

.slide1{
    display: flex !important;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
}

.carimage{

    width: 100%;
    height: 200px;
    max-width: 600px;
    object-fit: cover;
    border-radius: 10px;
}


.slick-dots li button:before{
    color:#fff
}

/* ============== VERSE ============= */
.verse-container{
    padding: 1rem;
    flex: 1;
    background-color: whitesmoke;
    border-radius: 1rem;
    border: 1px solid lightgray;
    /* margin: 0.5rem; */
    
}

.verse-desc {
    /* background-color: lightgrey; */
    border-radius: 1rem;
    padding: 0.5rem;
    height: 100%;
    width: 100%;
}








/*=================== ABOUT TRIUMPH ==================== */


.fluidContainerAbout{
    background-color: whitesmoke;
    padding: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

/* ==== WHO WE ARE ==== */


.whoWeAreContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5rem;
    padding-bottom: 3rem;
}
.whoWeAre{
    padding-left: 3rem;
    padding-right: 5rem;
}

.whoWeAreContainer p{
    margin-top: 1rem;
}

.triumph-pic2 {
    width: 100%;
    /* height: 400px; */
    max-height: 350px;
    max-width: 500px;
    margin-top: 1rem;
    padding-right: 3rem;
    object-fit: cover;
}


/* ====== WORSHIP WITH US ====== */

.scheduleMap2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* margin-left: 3rem; */
    /* margin-top: 2.5rem; */ 
    /* does not take other margins into account */
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap:5rem;

}

.schedule-container2{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 13rem;
}

.scheduleContainer3{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-right: 13rem; */
}

.schedule-container2 h5{
    margin-bottom: 1rem;

}

.schedule-container2 h2{
    margin-bottom: 2rem;
}
.dateDescContainer2{
    /* background-color: rgba(125, 123, 123, 0.25); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 86px;
}

.worshipImg{
    width: 100%;
    /* height: 400px; */
    max-height: 350px;
    max-width: 500px;
    /* margin-top: 1rem; */
    object-fit: cover;
    padding-left: 3rem;
}

.worshipImgContainer{
    display: flex;
}

.time{
    display: flex;
    justify-content: space-between;
}

/* ================================ */

@media screen and (max-width: 768px) {
    .slide1{
        flex-direction: column;
        align-items: center;
   }
}

@media screen and (max-width: 768px) {
    .slide-desc{
        width: 100%;
        height:150px;
        max-height: 150px;
   }
}

@media screen and (max-width: 988px) {
    .carimage{
        max-width: 500px;
   }
}

@media screen and (max-width: 768px) {
    .carimage{
        max-width: 520px;
   }
}




/* change */
@media screen and (max-width: 992px) {
    .whoWeAreContainer{
        flex-direction: column;
        gap:20px;
   }
}
/* change */
@media screen and (max-width: 992px) { 
    .whoWeAre{
        padding-left: unset;
        padding-right: unset;
   }
}

/* change */
@media screen and (max-width: 992px) {
    .scheduleMap2{
        flex-direction: column;
        /* padding-left: unset; */
   }
}

/* change */
@media screen and (max-width: 992px) {
    .worshipImg{
        margin: auto;
        padding-left: unset;
   }
}
/* change */
@media screen and (max-width: 992px) {
    .triumph-pic2{
        margin: auto;
        padding-right: unset;
   }
}


@media screen and (max-width: 425px) {
    .scheduleMap2{
        gap: 1rem;
   }
}

@media screen and (min-width: 768px) {
    .scheduleMap2{
        gap: 3rem;
   }
}

@media screen and (min-width: 1400px) {
    .scheduleContainerTest{
        margin-left: 10rem;
        margin-right: 10rem;
   }
}

