.about {
    display: flex;
    padding: 0.5rem;
    margin-right: 10rem;
    margin-left: 10rem;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.about p {
    margin-top: 1rem;
}

.triumph-pic {
width: 65%;
}