.navbarContainer2{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin-right: 4rem;
    margin-left: 4rem;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 1rem 1rem 0px 0px;
   
}

.fluidContainerNav{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    /* margin-right: 4rem; */
    /* margin-left: 4rem; */
    /* flex-direction: column; */
    /* background-color: whitesmoke; */
    border-radius: 1rem 1rem 0px 0px;
}

/* .triumph {
    text-align: center;
    margin-top: 1rem;
}

a {
    text-decoration: none;
    color:black
}

.header1 {
    height: 5rem;
    background-color: lightblue;
    border-radius: 1rem 1rem 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.triumphLogo{
    width: auto;
    height: 280px;
}

.navbar {
    padding-left: 2rem;
    margin-top: 0.5rem;
    background-color: red;
    border-bottom: solid #999;
    border-top: solid #999;
} */